.FormContainer {
    background: var(--primary-color);
    border: var(--outline-width) solid var(--primary-hover-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    font-family: var(--regular-font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormContents {
    width: 50%;
}

.FormHeader {
    border-bottom: var(--outline-width) solid var(--primary-hover-color);
    padding: 10px;
}

.FormRow {
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: var(--text-color-light);
    justify-content: center;
}

.FormRow > * {
    flex: 1;
}