.HeaderBarContainer {
    background: linear-gradient(90deg, var(--surface-color) 0%, var(--primary-color) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 15px 20px;
    box-shadow: 4px 4px 8px var(--shadow-color);
}

.HeaderBarRight {
    margin-left: auto;
}

.HeaderBarLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.HeaderBar {
    color: var(--text-color-light);
    font-family: var(--regular-font);
}