.GameTextInput {
    color: var(--text-color-dark);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
    border: none;
    outline: var(--outline-width) solid var(--primary-hover-color);
}