.TableContainer {
    font-family: var(--regular-font);
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border-top: var(--outline-width) solid var(--primary-hover-color);
    border-bottom: var(--outline-width) solid var(--primary-hover-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px var(--shadow-color);
}

.TableHeader {
    padding: 10px;
    border-top: 1px solid var(--primary-hover-color);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 2em;
}

.TableRow {
    padding: 10px;
    border-top: 1px solid var(--primary-hover-color);
    display: flex;
    flex-direction: row;
    font-size: 1.6em;
}

.TableCell {
    flex: 1;
    text-align: center;
}