.Button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-family: var(--regular-font);
    border-radius: var(--border-radius);
    outline: var(--outline-width) solid var(--primary-hover-color);
    transition: background-color var(--transition-duration);

    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: bold;
    align-self: center;
}

.Button--primary {
    background-color: var(--primary-color);
    outline: var(--outline-width) solid var(--primary-color);
}

.Button--secondary {
    background-color: var(--secondary-color);
    outline: var(--outline-width) solid var(--secondary-color);
}

.Button--primary:hover {
    background-color: var(--primary-hover-color);
}

.Button--secondary:hover {
    background-color: var(--secondary-hover-color);
}