.HamburgerMenu {
    position: relative;
}

.HamburgerMenuDropdown {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    border: var(--outline-width) solid var(--primary-hover-color);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    box-shadow: 4px 4px 8px var(--shadow-color);
    transform-origin: top right;
    transition: opacity var(--transition-duration) ease-out, transform var(--transition-duration) ease-out;
    opacity: 0;
    transform: translateY(-8px) scaleY(0.9);
    pointer-events: none;
    width: max-content;
}

.HamburgerMenuDropdown--open {
    opacity: 1;
    transform: translateY(0) scaleY(1);
    pointer-events: auto;
}

.HamburgerMenuDropdownRow {
    display: flex;
}

.HamburgerMenuDropdownRow > * {
    flex: 1;
}