.TextInput {
    padding: 10px;
    font-family: var(--regular-font);
    border-radius: var(--border-radius);
    border: none;
    outline: var(--outline-width) solid var(--primary-hover-color);
    box-shadow: 4px 4px 4px var(--shadow-color);
    width: 100%;
}

.TextInput--password {
    padding-right: 45px;
}

.TextInputContainer {
    display: flex;
    position: relative;
}

.TextInputContainer .Button {
    position: absolute;
    inset: 0 0 0 auto;
    padding: 3px 5px 0px 5px;
}

.TextInputContainer .Button img {
    width: 30px;
    height: 30px;
}